<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Fileupload </title>
  </head>
  <body>
    
    <form action='/login/facecompare' method="POST" enctype="multipart/form-data">
        <input type='file' name='face'>
        <input type="submit" value="파일업로드">
    </form>
   
  </body>
</html>
