<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>나와랏 사진</title>
    </head>
    <body>
        <h1>DB에서 사진 데이터 가져오기</h1>
        <hr>
        <div>
                    <td><%= results.name %></td>
                    <td><img src ="/<%= results.imgpath %>" width="100" height="100"></td> 
                    <hr>      
           
        </div>
    </body>
</html>

