<!DOCTYPE html>
<html>
    <body>
        <h3>function cnt create</h3>
        <form method="POST", action="/function">
        <input type="text" name="name">
        <input type="text" name="token">
        <input type="submit" name="전송">
        </form>
    </body>
</html>