<!DOCTYPE html>
<html>
    <body>
        <h3>function cnt</h3>
        <form method="POST", action="/count">
        <input type="text" name="name">
        <input type="text" name="token">
        <input type="text" name="function">
        <input type="submit" name="전송">
        </form>
    </body>
</html>