<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>상품정보</title>
    </head>
    <body>
        <h3>상품정보 페이지</h3>
        <hr/>
        <p>로그인후 확인할수 있는 페이지입니다.</p>
        <br><br>
        <a href="/login/logout">로그아웃하기</a>
        <a href="/login">로그인하기</a>
        <a href="/gohome">귀향여비확인하러가기</a>
        <a href="/audio">음성보내기</a>
        <a href="/login/product">다음상품보기</a>
    </body>
</html>