<!DOCTYPE html>

<body>
    <form action='/freefood/foodcount' method="POST" enctype="multipart/form-data">
        <input type='file' name='qr'>
        <input type="submit" value="전송">
    </form>
</body>