<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>관리자 로그인</h1>
<hr>

<form action="/manager/login" method="POST">
    <table>
        <tr>
            <td><input type="text" name="foodplace" placeholder="무료급식소"></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>
</body>
</html>